.attribution {
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 16px;
  font-family: "Figtree", sans-serif;
}

.blog_card {
  background-color: white;
  border: 1px solid black;
  box-shadow: 8px 8px rgba(0, 0, 0, 1);
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  margin-bottom: 30px;
}

.blog_illustration {
  width: 100%;
  border-radius: 10px;
  background-size: contain;
}

.blog_tag {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: hsl(47, 88%, 63%);
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  padding: 4px 12px;
  font-weight: 800;
  font-size: 0.9rem;
  color: hsl(0, 0%, 7%);
}

.blog_date {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 0.85rem;
}

.blog_title {
  margin-bottom: 14px;
  font-weight: 800;
  font-size: 1.4rem;
  color: hsl(0, 0%, 7%);
}

.blog_details {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 0.94rem;
  line-height: 1.4;
  color: hsl(0, 0%, 42%);
}

.blog_user {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
}

.blog_userProfile {
  width: 100%;
  max-width: 35px;
}

.blog_userName {
  font-weight: 800;
  font-size: 1rem;
  color: hsl(0, 0%, 7%);
}
